/* ==========================================================================
Site Name: Ninesenses
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Typography
========================================================================== */

body {
  color: $secondary;

  font-family: $base-font;
  font-size: 16px;
}

a {
  position: relative;

  transition: color .3s $easing;
  text-decoration: none;

  color: $base;

  &::after {
    position: absolute;
    bottom: -1px;
    left: 0;

    visibility: hidden;

    width: 100%;
    height: 2px;

    content: '';
    -webkit-transition: all .3s $easing;
    transition: all .3s $easing;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);

    background-color: $secondary;

    @media screen and (min-width: $tablet) {
      height: 4px;
    }
  }

  &:hover {
    color: $secondary;
  }

  &:hover::after {
    visibility: visible;

    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

p {
  font-weight: 300;
}

h2 {
  margin: 0;

  text-transform: uppercase;

  font-size: .75rem;
  font-weight: 600;
}

dl {
  padding-right: .5rem;

  vertical-align: top;

  font-size: .875rem;

  align-items: flex-start;

  dt {
    color: $white;
  }

  dd {
    margin: 0 0 1rem;

    &:last-child {
      margin: 0;
    }
  }
}

ul {
  padding: 0;

  list-style: none;

  vertical-align: top;

  h2 {
    margin: 2rem 0 0;

    text-transform: none;

    color: $base;

    font-size: inherit;
  }

  li:first-child h2 {
    margin: 0;
  }
}
