/* ==========================================================================
Site Name: Ninesenses
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Variables
========================================================================== */
/* ==========================================================================
  Colors
========================================================================== */
$mustard: #FFD657;
$gainsboro: #D6E4E1;
$white: #FFFFFF;
$vulcan: #10141B;
$comet: #555B6E; // Darker but fails WCAG test
$comet: #A0A6B6;
//Colors
$base: $white;
$secondary: $comet;
$background: $vulcan;

/* ==========================================================================
  Fonts
========================================================================== */

$base-font: 'sofia-pro-1', 'sofia-pro-2', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

/* ==========================================================================
  Easing
   ========================================================================== */

$easing: cubic-bezier(.645, .045, .355, 1);

/* ==========================================================================
  Breakpoints
   ========================================================================== */

$tablet: 768px;
$laptop: 1024px;
$sm-desktop: 1279px;
$lg-desktop: 1440px;
$xl-desktop: 1800px;
$xxl-desktop: 4060px;
//
$controls-on: $tablet;
