/* ==========================================================================
Site Name: Ninesenses
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Variables
========================================================================== */
/* ==========================================================================
  Colors
========================================================================== */

// Branding
$platinum: #E6E6E4;
$light-grey: #F2F2F2;
$paynes-grey: #313B41;
$linen: #F5F2E3;
$dim-gray: #707070;
$saffron: #FCC826;
$mustard: #FFD657;
$beau-blue: #C0DAEA;
$gainsboro: #D6E4E1;
$mango-tango: #FD7F44;
$white: #FCFCFC;
$vulcan: #10141B;
$comet: #555B6E;
// Services
$gold: #D5A86F;
$dark-blue: #03213D;
$dingley: #698437;
$firebush: #E1954A;
//Contact
$aquamarine: #66E5AC;
$code-red: #E26F76;
//Colors
$base: $white;
$secondary: $comet;
$background: $vulcan;
// Debug
$debug: hotpink;
$debug-2: lightblue;
$debug-3: lightgreen;
/* ==========================================================================
  Fonts
========================================================================== */

$base-font: 'sofia-pro-1', 'sofia-pro-2', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

/* ==========================================================================
  Easing
   ========================================================================== */

$easing: cubic-bezier(.645, .045, .355, 1);

/* ==========================================================================
  Breakpoints
   ========================================================================== */

$tablet: 768px;
$laptop: 1024px;
$sm-desktop: 1279px;
$lg-desktop: 1440px;
$xl-desktop: 1800px;
$xxl-desktop: 253.75rem;
//
$controls-on: $tablet;
