/* ==========================================================================
Site Name: SITENAME
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Tablet
========================================================================== */

/* ==========================================================================
  Section
   ========================================================================== */

.section {
  min-height: calc(100vh - 100px);
}
