/* ==========================================================================
Site Name: SITENAME
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Tablet
========================================================================== */

/* ==========================================================================
  Section
   ========================================================================== */

.section {
  min-height: calc(100vh - 100px);
}

.content {
  .wrap {
    max-width: 60%;
  }
}

.about .content .wrap {
  max-width: 50%;
}

.portrait {
  position: fixed;
  top: 50px;
  right: 0;

  width: calc(50vw - 50px);
  height: calc(100vh - 200px);

  div {
    width: 100%;
    height: 100%;
  }
}

/* ==========================================================================
  Footer
   ========================================================================== */

.footer {
  .lists {
    max-width: 60%;
  }
}
