/* ==========================================================================
Site Name: SITENAME
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Tablet
========================================================================== */

// .circle {
//   position: absolute;
//   z-index: 400;
//   top: -10%;
//   left: 30%;
//
//   width: 120vh;
//   height: 120vh;
//
//   border-radius: 50%;
//   background: $mango-tango;
// }


/* ==========================================================================
  About
   ========================================================================== */

.experience {
  padding-bottom: 1.875rem;
}

.portrait {
  position: absolute;
  z-index: 400;
  top: 150px;
  right: 0;
  bottom: 100px;

  width: 45%;
  height: calc(100vh - 300px);
}


/* ==========================================================================
  Contact
   ========================================================================== */
.section.contact {
  min-height: calc(100vh);
}

/* ==========================================================================
  Footer
   ========================================================================== */

.footer {
  height: 170px;

  .lists {
    max-width: 80%;
    padding: 5rem 3.125rem 3.125rem;
  }
}

/* ==========================================================================
  Typography
  ========================================================================== */

.col-2 {
  font-size: 0;



  dl {
    display: inline-block;

    width: 50%;
    margin: 0;
  }
}
