/* ==========================================================================
Site Name: SITENAME
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Tablet
========================================================================== */



/* ==========================================================================
  Header
   ========================================================================== */

.header {
  padding: 3.125rem;
}

/* ==========================================================================
  Section
   ========================================================================== */

.content {
  max-width: 80%;
  padding: 5rem 3.125rem 3.125rem;

  font-size: 1.875rem;
}

/* ==========================================================================
  About
   ========================================================================== */

.about {
  .content {
    max-width: none;
  }
}

.experience {
  padding-bottom: 1.875rem;
}

/* ==========================================================================
  Contact
   ========================================================================== */
.section.contact {
  min-height: calc(100vh - 170px);
}

/* ==========================================================================
  Footer
   ========================================================================== */

.footer {
  height: 170px;
  padding: 5rem 3.125rem 3.125rem;
}

/* ==========================================================================
  Typography
  ========================================================================== */

.col-2 {
  font-size: 0;

  dl {
    display: inline-block;

    width: 50%;
    margin: 0;
  }
}
