/* ==========================================================================
Site Name: SITENAME
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Tablet
========================================================================== */



/* ==========================================================================
  Header
   ========================================================================== */

.header {
  padding: 3.125rem;
}

/* ==========================================================================
  Section
   ========================================================================== */

.content {
  font-size: 1.875rem;

  max-width: 80%;
  padding: 5rem 3.125rem 3.125rem;

  @media screen and (min-height: 700px) {
    padding-bottom: 25%;
  }
}

/* ==========================================================================
  About
   ========================================================================== */

.experience {
  padding-bottom: 1.875rem;
}

/* ==========================================================================
  Contact
   ========================================================================== */
.section.contact {
  min-height: calc(100vh - 170px);
  min-height: calc(100vh);
}

/* ==========================================================================
  Footer
   ========================================================================== */

.footer {
  height: 170px;

  .lists {
    max-width: 80%;
    padding: 5rem 3.125rem 3.125rem;
  }
}

/* ==========================================================================
  Typography
  ========================================================================== */

.col-2 {
  font-size: 0;



  dl {
    display: inline-block;

    width: 50%;
    margin: 0;
  }
}
