/* ==========================================================================
Site Name: SITENAME
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Base - Mobile Stylings
========================================================================== */


/* ==========================================================================
  Base
   ========================================================================== */

* {
  box-sizing: border-box;
}

html,
body {
  background: $background;
  // TODO: do this as a gradient so scroll on mac
  // shows background at top and bottom
}

body {
  transition: opacity 500ms linear;

  opacity: 1;
  background: $background;

  &.faded {
    opacity: 0;
  }
}

.scroll-container {
  position: absolute;

  overflow: auto;

  width: 100%;
  height: 100%;
}

/* ==========================================================================
  Header
   ========================================================================== */

.header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;

  width: 100%;
  padding: 1.25rem;
  // padding: 3.125rem;

  transition: color .5s ease;
  text-transform: uppercase;

  line-height: 1;

  a {
    position: relative;
    left: 0;

    display: inline-block;

    transition: all 1s ease-out;
    text-decoration: none;

    color: $base;

    &.hide-left {
      left: -500px;
    }
    // background: hotpink;

    &:hover {
      padding-top: 20px;
    }
  }


  h1,
  span {
    margin: 0;

    font-size: .875rem;
    font-weight: 600;
  }

  span {
    color: $secondary;

    font-weight: 400;
  }

  &.light a {
    color: $white;
  }

  &.dark a {
    color: $base;
  }
}

/* ==========================================================================
  Section
  ========================================================================== */

.section {
  position: relative;

  display: flex;

  width: 100%;
  min-height: calc(100vh - 50px);

  vertical-align: bottom;

  &.intro {
    background: $platinum;
  }

  &.about {
    background: $paynes-grey;
  }

  &.services {
    background: $gainsboro;
  }

  &.contact {
    background: $platinum;
  }


  &.dark {
    h2 {
      color: $white;
    }

    .highlight {
      color: $white;
    }
  }

  &.light {
    h2 {
      color: $secondary;
    }

    .highlight {
      color: $base;
    }
  }
}

.content {
  width: 100%;
  padding: 4.125rem 1.25rem 1.25rem;

  font-size: 1.25rem;

  align-self: flex-end;

  .inner {
    position: relative;
    left: 0;

    transition: all 1s ease-out;

    &.hide-left {
      left: -1000px;
    }
  }

  p {
    position: relative;

    color: $secondary;

    font-weight: 400;
  }
}

/* ==========================================================================
  About
   ========================================================================== */

.about {
  .image {
    // float: right;
    //
    // width: 50%;
    // height: 100%;
    width: 100%;
    height: 540px;

    background-image: url('../img/tom.jpg');
    background-position: top center;
    background-size: cover;
  }
}

.experience {
  padding-bottom: 1.25rem;

  dl {
    margin: 1.5rem 0;
    padding: 0;

    font-size: .875rem;
  }
}

/* ==========================================================================
  Contact
   ========================================================================== */

.contact {
  a {
    color: $base;
  }

  dt {
    color: $secondary;
  }

  dd {
    color: $base;
  }
}

.footer {
  width: 100%;

  background: $mustard;

  .lists {
    padding: 4.125rem 1.25rem 1.25rem;
  }

  dl {
    dt {
      color: $base;
    }
  }
}
