/* ==========================================================================
Site Name: SITENAME
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Base - Mobile Stylings
========================================================================== */


/* ==========================================================================
  Base
   ========================================================================== */

* {
  box-sizing: border-box;
}

html,
body {
  background: $background;
  // TODO: do this as a gradient so scroll on mac
  // shows background at top and bottom
}

body {
  transition: opacity 500ms linear;

  opacity: 1;
  background: $background;

  &.faded {
    opacity: 0;
  }
}

.scroll-container {
  position: absolute;

  overflow: auto;

  width: 100%;
  height: 100%;
}

/* ==========================================================================
  Header
   ========================================================================== */

.header {
  line-height: 1;

  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;

  width: 100%;
  padding: 1.25rem;
  // padding: 3.125rem;

  transition: color .5s ease;
  text-transform: uppercase;

  a {
    position: relative;
    left: 0;

    display: inline-block;

    transition: all 1s ease-out;
    text-decoration: none;

    color: $base;

    &.hide-left {
      left: -500px;
    }
    // background: hotpink;

    &:hover {
      padding-top: 20px;
    }
  }


  h1,
  span {
    font-size: .875rem;
    font-weight: 600;

    margin: 0;
  }

  span {
    font-weight: 400;

    color: $secondary;
  }

  &.light a {
    color: $white;
  }

  &.dark a {
    color: $base;
  }
}

/* ==========================================================================
  Controls
   ========================================================================== */

.controls {
  position: fixed;
  z-index: 9999;
  right: 50px;
  bottom: 150px;

  width: 16px;

  text-align: right;

  ul {
    width: 16px;

    list-style: none;

    li {
      display: block;

      width: 10px;
      height: 10px;
      margin: 0 auto 10px;

      border: 1px solid $secondary;
      border-radius: 50%;
      background: none;;

      &.active {
        background: $secondary;
      }
    }
  }

  button {
    display: block;

    width: 16px;
    height: 28px;
    margin: 0 0 10px;
    padding: 0;

    transition: opacity 500ms linear;
    text-align: center;

    opacity: 1;
    border: 0;
    outline: 0;
    background: none;

    &.disabled {
      opacity: 0;
    }

    svg {
      display: inline-block;

      width: 12px;
      margin: 0 auto;
    }
  }
}

/* ==========================================================================
  Section
  ========================================================================== */

.section {
  position: relative;

  display: flex;

  width: 100%;
  min-height: calc(100vh - 50px);

  vertical-align: bottom;

  &.intro {
    background: $platinum;
  }

  &.about {
    background: $paynes-grey;
  }

  &.services {
    background: $gainsboro;
  }

  &.contact {
    background: $platinum;
  }


  &.dark {
    h2 {
      color: $white;
    }

    .highlight {
      color: $white;
    }
  }

  &.light {
    h2 {
      color: $secondary;
    }

    .highlight {
      color: $base;
    }
  }
}

.content {
  font-size: 1.25rem;

  width: 100%;
  padding: 4.125rem 1.25rem 1.25rem;

  align-self: flex-end;

  .inner {
    position: relative;
    left: 0;

    transition: all 1s ease-out;

    &.hide-left {
      left: -1000px;
    }
  }

  p {
    font-weight: 400;

    position: relative;

    color: $secondary;
  }
}

/* ==========================================================================
  About
   ========================================================================== */

.about {
  .image {
    // float: right;
    //
    // width: 50%;
    // height: 100%;
    width: 100%;
    height: 540px;

    background-image: url('../img/tom.jpg');
    background-position: top center;
    background-size: cover;
  }
}

.experience {
  padding-bottom: 1.25rem;

  dl {
    font-size: .875rem;

    margin: 1.5rem 0;
    padding: 0;
  }
}

/* ==========================================================================
  Contact
   ========================================================================== */

.contact {
  a {
    color: $base;
  }

  dt {
    color: $secondary;
  }

  dd {
    color: $base;
  }
}

.footer {
  width: 100%;

  background: $mustard;

  .lists {
    padding: 4.125rem 1.25rem 1.25rem;
  }

  dl {
    dt {
      color: $base;
    }
  }
}
