/* ==========================================================================
Site Name: SITENAME
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Base - Mobile Stylings
========================================================================== */


/* ==========================================================================
  Base
   ========================================================================== */

* {
  box-sizing: border-box;
}

html,
body {
  background: $background;
}

/* ==========================================================================
  Header
   ========================================================================== */

.header {
  line-height: 1;

  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;

  width: 100%;
  padding: 3.125rem;

  transition: color .5s ease;
  text-transform: uppercase;

  h1,
  span {
    font-size: .875rem;
    font-weight: 600;

    margin: 0;
  }

  span {
    font-weight: 400;

    color: $secondary;
  }

  &.light {
    color: $white;
  }

  &.dark {
    color: $base;
  }
}

/* ==========================================================================
 Screens
  ========================================================================== */

.section {
  position: relative;

  width: 100%;
  height: 100vh;
  padding: 3.125rem;

  &.intro {
    background: $platinum;
  }

  &.about {
    background: $paynes-grey;
  }

  &.services {
    background: $linen;
  }

  &.dark {
    h2 {
      color: $white;
    }

    .highlight {
      color: $white;
    }
  }

  &.light {
    h2 {
      color: $secondary;
    }

    .highlight {
      color: $base;
    }
  }
}

.content {
  font-size: 1.875rem;

  position: absolute;
  bottom: 3.125rem;

  width: 50%;

  p {
    font-weight: 400;

    color: $secondary;
  }
}

/* ==========================================================================
  About
   ========================================================================== */

.about {
  .image {
    float: right;

    width: 50%;
    height: 100%;

    background-image: url('../img/tom.jpg');
    background-position: top center;
    background-size: cover;
  }
}

.experience {
  font-size: 0;

  dl {
    font-size: .875rem;

    display: inline-block;

    width: 50%;
    margin: 0;
    padding: 0;
  }
}
