/* ==========================================================================
Site Name: SITENAME
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: About
========================================================================== */
$portrait-detach: $laptop;

.experience {
  padding-bottom: 1.25rem;

  @media screen and (min-width: $tablet) {
    padding-bottom: 1.875rem;
  }

  dl {
    font-size: .875rem;

    margin: 1.5rem 0;

    vertical-align: top;
  }
}

.section.about {
  .content {
    padding-bottom: 0;
    //
    @media screen and (min-width: $portrait-detach) {
      padding: 5rem 3.125rem 3.125rem;
    }

    .wrap {
      @media screen and (min-width: $portrait-detach) {
        max-width: 55%;
      }

      @media screen and (min-width: $sm-desktop) {
        max-width: 50%;
      }
    }
  }
}


/* ==========================================================================
  Portrait
   ========================================================================== */

.portrait {
  position: relative;

  display: table-row;

  width: 100%;
  height: 500px;

  @media screen and (min-width: $portrait-detach) {
    position: absolute;
    z-index: 400;
    right: 0;

    width: 40%;
    height: 100%;
  }

  @media screen and (min-width: $sm-desktop) {
    position: fixed;
    top: 0;
    right: 100px;

    // top: 50px;
    // right: 50px;
    //
    // width: calc(50vw - 100px);
    // height: calc(100vh - 200px);
  }

  div {
    position: absolute;

    width: 100%;
    height: 500px;

    transition: opacity 600ms linear;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: $portrait-detach) {
      top: 0;
      bottom: 0;

      height: auto;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    @media screen and (min-width: $sm-desktop) {
      margin-bottom: 150px;
    }

    &:first-child {
      z-index: 2;

      opacity: 0;
      background-image: url('../img/tom-front.jpg');
    }

    &:last-child {
      z-index: 1;

      background-image: url('../img/tom-side.jpg');
    }
  }
}
