/* ==========================================================================
Site Name: Ninesenses
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: About
========================================================================== */
$portrait-detach: $laptop;

.section.about {
  position: relative;

  overflow: visible; // Required for portrait to show on Webkit

  padding-bottom: 400px;

  transform: translate3d(0, 0, 0); // Flicker on mobile fix https://stackoverflow.com/questions/12278587/webkit-text-flickers-when-using-css-transform-scale
  // -webkit-backface-visibility: hidden;

  flex-wrap: wrap;

  .content {
    width: 100%;
    padding-bottom: 0;

    .wrap {
      @media screen and (min-width: $laptop) {
        max-width: 52%;
      }

      @media screen and (min-width: $sm-desktop) {
        max-width: 50%;
      }

      // @media screen and (min-width: $xl-desktop) {
      //   max-width: 835px;
      // }
    }
  }

  @media screen and (min-width: $portrait-detach) {
    flex-direction: row;

    padding-bottom: 0;

    transform: none;

    .content {
      padding-bottom: 3.125rem;
    }
  }

  a {
    color: lighten($secondary, 20%);

    &:hover {
      color: $mustard;
    }
  }

  &.active {
    .portrait div:first-child {
      opacity: 1;
    }
  }
}

/* ==========================================================================
  Portrait
   ========================================================================== */

.fullscreen .portrait {
  position: fixed; // to fix flickr issue on webkit.
}

.portrait {
  position: absolute;
  z-index: 400;
  right: 0;
  bottom: 0;
  left: 0;

  height: 400px;

  transform: translate3d(0, 0, 0); // Flicker on mobile fix https://stackoverflow.com/questions/12278587/webkit-text-flickers-when-using-css-transform-scale

  will-change: transform;

  @media screen and (min-width: $portrait-detach) {
    position: fixed;
    top: 0;
    right: 75px;
    bottom: auto;
    left: auto;

    display: block;

    width: 40%;
    height: 100%;
  }

  @media screen and (min-width: $sm-desktop) {
    position: fixed;
    top: 0;
    right: 100px;
  }

  div {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 500px;

    transition: opacity 750ms linear;
    transform: translate3d(0, 0, 0); // Flicker on mobile fix https://stackoverflow.com/questions/12278587/webkit-text-flickers-when-using-css-transform-scale

    background-image: url('../img/tom-side.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // -webkit-backface-visibility: hidden;

    @media screen and (min-width: $portrait-detach) {
      height: auto;
      // margin-top: 125px; // With menu
      margin-top: 50px;
      margin-bottom: 50px;
    }

    @media screen and (min-width: $sm-desktop) {
      margin-bottom: 50px;
    }

    &:first-child {
      z-index: 2;

      transition: opacity 750ms linear;

      opacity: 0;
      background-image: url('../img/tom-front.jpg');

      will-change: opacity;
    }
  }
}

/* ==========================================================================
  Page
   ========================================================================== */
.about {
  .header {
    background: $base;
  }
  .footer {
    display: block;

    background: $base;

    dt {
      color: $white;
    }
  }
}

.section.about.page {
  position: static;
  //IE Fix

  height: auto;
  padding: 4.125rem 1.25rem 1.25rem;

  .block {
    color: $white;

    font-size: 1.25rem;

    &.images {
      margin-bottom: -10px;

      font-size: 0;
    }

    .highlight {
      color: $mustard;
    }


    p {
      color: $white;
    }
  }

  .masonary {
    height: auto;
  }

  img {
    display: block;

    width: 100%;
    margin-bottom: 10px;

    @media screen and (min-width: $sm-desktop) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: $lg-desktop) {
      margin-bottom: 30px;
    }
  }

  .col-2 {
    img {
      display: inline-block;

      width: 50%;

      &:first-child {
        padding-right: 5px;

        @media screen and (min-width: $sm-desktop) {
          padding-right: 10px;
        }

        @media screen and (min-width: $lg-desktop) {
          padding-right: 15px;
        }
      }

      &:last-child {
        padding-left: 5px;

        @media screen and (min-width: $sm-desktop) {
          padding-left: 10px;
        }

        @media screen and (min-width: $lg-desktop) {
          padding-left: 15px;
        }
      }
    }
  }

  .skills {
    .col {
      vertical-align: top;
    }

    h3 {
      margin: 1.5rem 0 0;

      color: $white;

      font-size: .875rem;
      font-weight: 400;
    }

    ul {
      font-size: 1rem;

      li {
        padding-right: .5rem;

        color: lighten($secondary, 20%);

        line-height: 1.8;
      }
    }
  }

  .like-list {
    li {
      display: inline;

      color: lighten($secondary, 20%);

      font-size: .875em;
    }
  }

  @media screen and (min-width: $tablet) {
    padding: 5rem 3.125rem 3.125rem;
  }

  @media screen and (min-width: $laptop) {
    .contact {
      padding-top: 5rem;
    }

    .masonary {
      display: flex;
      overflow: hidden;
      flex-direction: column;

      width: 100%;
      max-width: 100%;
      height: 2700px;

      flex-flow: column wrap;
      flex-wrap: wrap;
    }

    .block {
      width: 50%;

      font-size: 1.5rem;

      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: autoheight;

      &:first-child {
        h2 {
          margin-top: 0;
        }
      }

      &.left {
        padding-right: 20px;

        order: -1;
      }

      &.right {
        padding-left: 20px;

        order: 1;
      }

      &.images {
        flex: none;

        margin-bottom: 0;
      }
    }
  }

  @media screen and (min-width: $sm-desktop) {
    padding: 15rem 3.125rem 3.125rem;
  }

  @media screen and (min-width: $lg-desktop) {
    .block {
      font-size: 2rem;
    }

    ul li,
    dl {
      font-size: 1.25rem;
    }
  }

  @media screen and (min-width: $xl-desktop) {
    padding: 15rem 4.6875rem 3.125rem;

    .block {
      font-size: 2.25rem;
    }

    img {
      max-width: 90%;
    }

    .images {
      .col-2 {
        max-width: 90%;
      }
    }
  }
}
