/* ==========================================================================
Site Name: Ninesenses
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: About
========================================================================== */
$portrait-detach: $laptop;

.section.about {
  position: relative;

  flex-wrap: wrap;

  .content {
    width: 100%;

    .wrap {
      @media screen and (min-width: $laptop) {
        max-width: 52%;
      }

      @media screen and (min-width: $sm-desktop) {
        max-width: 50%;
      }

      // @media screen and (min-width: $xl-desktop) {
      //   max-width: 835px;
      // }
    }
  }

  @media screen and (min-width: $portrait-detach) {
    flex-direction: row;
  }

  a {
    color: lighten($secondary, 20%);

    &:hover {
      color: $mustard;
    }
  }

  &.active {
    .portrait div:first-child {
      opacity: 1;
    }
  }
}


/* ==========================================================================
  Portrait
   ========================================================================== */

.portrait {
  position: relative;

  width: 100%;
  height: 500px;

  @media screen and (min-width: $portrait-detach) {
    position: fixed;
    z-index: 400;
    top: 0;
    right: 0;

    width: 40%;
    height: 100%;

    transition: top 750ms ease;
  }

  @media screen and (min-width: $sm-desktop) {
    position: fixed;
    top: 0;
    right: 100px;
  }

  div {
    position: absolute;

    width: 100%;
    height: 500px;

    transition: opacity 750ms linear;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: $portrait-detach) {
      top: 0;
      bottom: 0;

      height: auto;
      margin-top: 125px;
      margin-bottom: 50px;
    }

    @media screen and (min-width: $sm-desktop) {
      margin-bottom: 50px;
    }

    &:first-child {
      z-index: 2;

      opacity: 0;
      background-image: url('../img/tom-front.jpg');
    }

    &:last-child {
      z-index: 1;

      background-image: url('../img/tom-side.jpg');
    }
  }
}

/* ==========================================================================
  Page
   ========================================================================== */
.about {
  .footer {
    position: relative;

    display: block;

    background: $gainsboro;
  }

  .header {
    padding-bottom: 6rem;

    // background: $background;
  }

  .section.contact {
    width: 100%;
    // height: auto;
    // min-height: calc(100vh - 176px);
    min-height: auto;
    padding-top: 5rem;

    background: $linen;

    h2,
    a {
      color: $base;
    }

    // p,
    // dt {
    //   color: $dark-blue;
    // }
  }
}

.section.about.page {
  position: relative;
  // top: -100px;
  // position: static; //IE Fix?
  // height: auto; //IE Fix?

  padding: 0;



  header {
    width: 100%;
    padding: 1.25rem;

    // background: $background;

    @media screen and (min-width: $tablet) {
      padding: 10rem 3.125rem 3.125rem;
    }

    @media screen and (min-width: $xl-desktop) {
      padding: 10rem 4.6875rem 3.125rem;
    }

    h1 {
      margin: 0;

      text-transform: none;

      font-size: 2.5rem;
      font-weight: 700;
    }

    p {
      margin: 0;
      // color: $secondary;

      color: $white;

      font-size: 2.5rem;
    }
  }

  .block {
    display: block;
    overflow: hidden;

    padding: 0 1.25rem;
    // color: $white;

    background: $base;

    font-size: 1.25rem;

    h2 {
      color: $white;
    }

    a {
      color: $white;

      &::after {
        background-color: $white;
      }
    }

    @media screen and (min-width: $tablet) {
      padding: 0 3.125rem;
    }

    @media screen and (min-width: $xl-desktop) {
      padding: 0 4.6875rem;
    }

    &.images {
      // margin-bottom: -10px;
      padding: 0;

      font-size: 0;
    }

    &.likes {
      padding-bottom: 1.25rem;

      @media screen and (min-width: $tablet) {
        padding-bottom: 3.125rem;
      }
    }

    &.skills {
      padding-bottom: 1.25rem;

      background: $beau-blue;

      @media screen and (min-width: $tablet) {
        padding-bottom: 1.875rem;
      }
    }
  }

  .masonary {
    height: auto;

    background: $beau-blue;
  }


  img {
    display: block;

    width: 100%;
    // margin-bottom: 10px;

    @media screen and (min-width: $sm-desktop) {
      // margin-bottom: 20px;
    }

    @media screen and (min-width: $lg-desktop) {
      // margin-bottom: 30px;
    }
  }

  .col-2 {
    img {
      display: inline-block;

      width: 50%;
    }
  }

  .experience {
    padding-bottom: 1.25rem;

    @media screen and (min-width: $tablet) {
      padding-bottom: 1.875rem;
    }

    ul,
    dl {
      margin: 1.5rem 0;

      vertical-align: top;

      font-size: 1rem;
    }

    dt {
      color: $base;
    }

    dd {
      color: $white;
    }
  }

  .skills {
    .col {
      vertical-align: top;
    }

    h2 {
      color: $base;
    }

    ul {
      font-size: 1rem;

      li {
        padding-right: .5rem;

        color: $white;

        line-height: 1.8;
      }
    }
  }

  .like-list {
    li {
      display: inline;

      color: $secondary;

      font-size: .875em;
    }
  }

  @media screen and (min-width: $laptop) {
    .masonary {
      display: flex;
      overflow: hidden;
      flex-direction: column;

      width: 100%;
      max-width: 100%;
      height: 2700px;
      margin: 0 auto;

      flex-flow: column wrap;
      flex-wrap: wrap;
    }

    .block {
      width: 50%;

      font-size: 1.5rem;

      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: autoheight;

      &:first-child {
        h2 {
          margin-top: 0;
        }
      }

      &.left {
        width: 60%;
        // padding-right: 40px;

        order: -1;
      }

      &.right {
        width: 40%;
        // padding-left: 20px;

        order: 1;
      }

      &.images {
        flex: none;

        margin-bottom: 0;
      }
    }
  }

  // @media screen and (min-width: $sm-desktop) {
  //   padding: 5rem 3.125rem 3.125rem;
  // }

  @media screen and (min-width: $lg-desktop) {
    .block {
      font-size: 2rem;
    }

    ul li,
    dl {
      font-size: 1.25rem;
    }
  }

  @media screen and (min-width: $xl-desktop) {
    // padding: 5rem 4.6875rem 3.125rem;

    .block {
      font-size: 2.25rem;
    }

    // img {
    //   max-width: 90%;
    // }
    //
    // .images {
    //   .col-2 {
    //     max-width: 90%;
    //   }
    // }
  }
}
