/* ==========================================================================
Site Name: SITENAME
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Contact
========================================================================== */

.contact {
  a {
    color: $base;
  }

  dt {
    color: $secondary;
  }

  dd {
    color: $base;
  }
}
