/* ==========================================================================
Site Name: Ninesenses
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Contact
========================================================================== */
.section.contact {
  flex-direction: column-reverse;

  .content {
    order: 1;
  }

  a {
    color: $base;

    &:hover {
      color: $base;
    }

    &::before {
      background-color: $base;
    }
  }

  dt {
    color: $secondary;
  }

  dd {
    color: $base;
  }
}
