/* ==========================================================================
Site Name: SITENAME
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Contact
========================================================================== */
.section.contact {
  flex-direction: column-reverse;

  .content {
    order: 1;
  }

  a {
    color: $base;
  }

  dt {
    color: $secondary;
  }

  dd {
    color: $base;
  }
}
