/* ==========================================================================
Site Name: SITENAME
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Intro
========================================================================== */
.section.intro {
  height: calc(100vh - 50px - 86px);
  min-height: calc(100vh - 50px - 86px);
  // .overlay {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //
  //   width: auto;
  //   height: auto;
  //
  //   background: url('../img/favicon.png') no-repeat center center;
  //   background-size: contain;
  //
  //   background-blend-mode: multiply;
  // }
  // background: url('../img/background.png') no-repeat center center;

  background: url('../img/background.svg') no-repeat center center;
  background-size: 80% 80%;




  @media screen and (min-width: $tablet) {
    height: auto;
    min-height: calc(100vh - 50px);
  }

  @media screen and (min-width: $laptop) {
    min-height: calc(100vh - 100px);
  }

  @media screen and (min-width: $sm-desktop) {
    background-position: left center;
    background-size: 70% 70%;
  }

  .content {
    .wrap {
      @media screen and (min-width: $sm-desktop) {
        max-width: 50%;
      }
    }


    @media screen and (min-width: $lg-desktop) {
      padding-bottom: 10%;
    }
  }
}
