/* ==========================================================================
Site Name: SITENAME
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Intro
========================================================================== */

@media screen and (min-width: $desktop) {
  .intro {
    .content {
      padding-bottom: 10%;
    }
  }
}
