{% if page.project_id %}
<a href="{{site.url}}/#{{page.project_id}}" class="home">
  <span></span>
  <span></span>
</a>
{% else %}
<a href="{{site.url}}" class="home">
  <span></span>
  <span></span>
</a>
{% endif %}

<nav class="menu">
  <div class="menu-wrap">
    <button class="menu-button" id="contact-link">Contact</button>
    <button class="menu-button" id="trusted-link">Clients</button>
    <a href="{{site.url}}/services">Services</a>
    <a href="{{site.url}}/about">About</a>
  </div>
</nav>
