/* ==========================================================================
Site Name: SITENAME
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Helpers
========================================================================== */

/* ==========================================================================
  Clearfix
   ========================================================================== */

%clearfix,
.clearfix,
%cf,
.cf {
  zoom: 1;

  &::before,
  &::after {
    display: table;

    content: '';
  }

  &::after {
    clear: both;
  }
}

/* ==========================================================================
  Vertcial Center
   ========================================================================== */

.vc {
  display: table;

  .vcc {
    display: table-cell;

    vertical-align: middle;
  }
}

/* ==========================================================================
  Hidden
   ========================================================================== */

.hidden {
  display: none;
}
