/* ==========================================================================
Site Name: SITENAME
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Mixins
========================================================================== */


@mixin bp($size, $width-type: min-width) {
  @media screen and ($width-type: $size) {
    @content;
  }
}

@mixin font-size($px) {
  font-size: $px + px;
  font-size: #{$px / 16}rem;
}

/*
 * Placeholder mixin for <input>
 */

@mixin placeholder {
  $placeholders: ':-webkit-input' ':-moz' '-moz' '-ms-input';
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}


/**
 * Clearfix
 */

@mixin clearfix {
  zoom: 1;

  &::before,
  &::after {
    display: table;

    content: '';
  }

  &::after {
    clear: both;
  }
}


/**
 * Positioning
 */

@mixin center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
  @else if ($horizontal) {
    left: 50%;

    transform: translateX(-50%);
  }
  @else if ($vertical) {
    top: 50%;

    transform: translateY(-50%);
  }
}
