/* ==========================================================================
Site Name: SITENAME
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Typography
========================================================================== */

body {
  color: $secondary;

  font-family: $base-font;
  font-size: 16px;
}

a {
  text-decoration: none;

  color: $base;
}

p {
  font-weight: 400;
}

h1,
h2 {
  margin: 4rem 0 1rem;

  text-transform: uppercase;

  font-size: .875rem;
  font-weight: 600;
}

dl {
  padding-right: .5rem;

  font-size: .875rem;

  dt {
    color: $white;
  }

  dd {
    margin: 0 0 1.5rem;

    &:last-child {
      margin: 0;
    }
  }
}

ul {
  padding: 0;

  list-style: none;

  h2 {
    margin: 2rem 0 0;

    text-transform: none;

    color: $base;

    font-size: inherit;
  }

  li:first-child h2 {
    margin: 0;
  }
}
