/* ==========================================================================
Site Name: SITENAME
Author: Tom Skarbek-Wazynski (skarbek-wazynski.co.uk)

Stylesheet: Variables
========================================================================== */
/* ==========================================================================
  Colors
========================================================================== */

//Branding
$base: #252525;
$background: #EFEFEF;
$secondary: #FFFFFF;
$tertiary: #E1E1E1;

// Buttons
$btn-color: $base;
$background-btn: $secondary;
$btn-alt-color: $base;
$background-btn-alt: $secondary;
// Forms
$error: #ED2E2E;
$placeholder: $secondary;

/* ==========================================================================
  Fonts
========================================================================== */

$base-font: 'freight-text-pro-1', 'freight-text-pro-2';
$secondary-font: 'sofia-pro-1', 'sofia-pro-2';
