/* ==========================================================================
Site Name: SITENAME
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Variables
========================================================================== */
/* ==========================================================================
  Colors
========================================================================== */

// Branding
$platinum: #E6E6E4;
$paynes-grey: #313B41;
$linen: #F5F2E3;
$dim-gray: #707070;
$saffron: #FCC826;
$mustard: #FFD657;
$beau-blue: #C0DAEA;
$gainsboro: #D6E4E1;
$mango-tango: #FD7F44;
$white: #FFFFFF;

//Colors
$base: $paynes-grey;
$secondary: $dim-gray;
$background: $platinum;

// Buttons
$btn-color: $base;
$background-btn: $secondary;
$btn-alt-color: $base;
$background-btn-alt: $secondary;
// Forms
$error: #ED2E2E;
$placeholder: $secondary;

/* ==========================================================================
  Fonts
========================================================================== */

$base-font: 'sofia-pro-1', 'sofia-pro-2', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;


/* ==========================================================================
  Breakpoints
   ========================================================================== */

$tablet: 768px;
$laptop: 1024px;
$sm-desktop: 1279px;
$lg-desktop: 1440px;
