// /* ==========================================================================
// Site Name: Ninesenses
// Author: Tom Skarbek-Wazynski (ninesenses.co.uk)
//
// Stylesheet: Contact
// ========================================================================== */

.contact {
  dt,
  dd {
    font-size: .75rem;
  }
}

.footer {
  display: none;

  margin-top: 2rem;

  dl {
    font-size: .75rem;
  }
}
