/* ==========================================================================
Site Name: Ninesenses
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: services
========================================================================== */

.services {
  ul {
    overflow: hidden;

    li {
      @include font-size(16);

      float: left;

      width: 50%;
      margin-bottom: 10px;

      line-height: 1.4;

      &:nth-child(odd) {
        padding-right: 2px;
      }

      &:nth-child(odd) {
        padding-left: 2px;
      }
    }
  }
}
