/* ==========================================================================
Site Name: Ninesenses
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Backgrounds
========================================================================== */

.bgs {
  margin: 0;

  &::before {
    position: absolute;
    top: 0;
    right: 3.125rem;
    bottom: 0;
    left: 0;

    content: '';

    background: lighten($background, 10%);

    mix-blend-mode: multiply;

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  // &::after {
  //   position: absolute;
  //   z-index: -6;
  //   top: 0;
  //   right: 3.125rem;
  //   bottom: 0;
  //   left: 0;
  //
  //   content: '';
  //
  //   background: black;
  //
  //   @media screen and (min-width: $tablet) {
  //     width: 40%;
  //   }
  //
  //   @media screen and (min-width: $sm-desktop) {
  //     width: 50%;
  //   }
  // }

  li {
    position: fixed;
    z-index: -5;
    top: 0;
    right: 3.125rem;
    bottom: 0;
    left: 0;

    transition: opacity 500ms ease-in-out;

    opacity: 0;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: $tablet) {
      width: 40%;
    }

    @media screen and (min-width: $sm-desktop) {
      width: 50%;
    }

    &:nth-child(1) {
      background-image: url('../img/tom-side.jpg');
    }

    &:nth-child(2) {
      background-image: url('../img/tom-front.jpg');
    }

    &:nth-child(3) {
      background-image: url('../img/services.jpg');
    }

    &:nth-child(4) {
      background-image: url('../img/case-studies/porters/porters-secondary-1.jpg');
    }

    &:nth-child(5) {
      background-image: url('../img/case-studies/majik/majik-secondary-2.jpg');
      // background-position: right center;
    }

    &:nth-child(6) {
      background-image: url('../img/case-studies/cangetthestaff/cgts-secondary-1.jpg');
    }

    &:nth-child(7) {
      background-image: url('../img/contact.jpg');
      // background-position: right center;
    }

    &.active {
      z-index: -1;
      // animation: imageAnimation 20s linear infinite;
      // animation-direction: alternate;

      opacity: 1;

      // animation-fill-mode: forwards;
    }

    &.previous {
      z-index: -2;

      transition: none;

      opacity: 1;
    }
  }
}

@keyframes imageAnimation {
  0% {
    transform: scale(1);
    animation-timing-function: ease-in;
  }

  100% {
    transform: scale(1.1);
    animation-timing-function: ease-out;
  }
}
