/* ==========================================================================
Site Name: Ninesenses
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Base - Mobile Stylings
========================================================================== */


/* ==========================================================================
  Base
   ========================================================================== */

* {
  box-sizing: border-box;
}


html {
  width: 100%;
  height: 100%;

  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  transition: background 750ms ease;
  // border-right: 50px solid $platinum;
  // border-left: 50px solid $platinum;

  background: $background;

  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  // &::before,
  // &::after {
  //   position: fixed;
  //   right: 0;
  //   left: 0;
  //
  //   height: 50px;
  //
  //   content: '';
  //
  //   background: $platinum;
  // }
  //
  //
  // &::before {
  //   top: 0;
  // }
  //
  // &::after {
  //   bottom: 0;
  // }

  &.about {
    background: $base;
  }

  &.fullscreen {
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 100%;

    &.no-css3 {
      position: static !important;

      overflow: auto !important;

      height: auto !important;

      .scroll-container {
        position: absolute;

        overflow: scroll;
        -webkit-overflow-scrolling: touch;

        width: 100%;
        height: 100%;

        -ms-touch-action: none;  // Touch detection for Windows 8
        scroll-behavior: smooth;
      }
    }

    .scroll-container {
      position: relative;

      display: block;
      overflow: visible;
      -webkit-overflow-scrolling: touch;

      width: 100%;
      height: 100%;

      -ms-touch-action: none;  // Touch detection for Windows 8
      scroll-behavior: smooth;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;

      &.notransition {
        transition: none;
      }
    }
  }
}

.scroll-container {
  position: absolute;
}

@media screen and (min-width: $tablet) {
  .col-2 {
    font-size: 0;

    .col,
    dl {
      display: inline-block;

      width: 50%;
      margin: 0;

      font-size: 1rem;
    }
  }
}
