/* ==========================================================================
Site Name: Ninesenses
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Base - Mobile Stylings
========================================================================== */


/* ==========================================================================
  Base
   ========================================================================== */

* {
  box-sizing: border-box;
}


html {
  width: 100%;
  height: 100%;

  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  height: 100%;
  margin: 0;

  background: $background;

  text-rendering: geometricPrecision;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  @media screen and (max-height: 350px) and (orientation: landscape) {
    &:after {
      position: absolute;
      z-index: 999;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;

      content: '';

      background-color: $background;
      background-image: url('../img/logo.svg');
      background-repeat: no-repeat;
      background-position: center;
      // background-size: contain;
    }
  }

  @media screen and (max-width: 300px) and (orientation: portrait) {
    &:after {
      position: absolute;
      z-index: 999;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;

      content: '';

      background-color: $background;
      background-image: url('../img/logo.svg');
      background-repeat: no-repeat;
      background-position: center;
      // background-size: contain;
    }
  }

  &.fullscreen {
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 100%;

    &.no-css3 {
      position: static !important;

      overflow: auto !important;

      height: auto !important;

      .scroll-container {
        position: absolute;

        overflow: scroll;
        -webkit-overflow-scrolling: touch;

        width: 100%;
        height: 100%;

        -ms-touch-action: none;  // Touch detection for Windows 8
        scroll-behavior: smooth;
      }
    }

    .scroll-container {
      position: relative;

      display: block;
      overflow: visible;
      -webkit-overflow-scrolling: touch;

      width: 100%;
      height: 100%;

      -ms-touch-action: none;  // Touch detection for Windows 8
      scroll-behavior: smooth;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;

      &.notransition {
        transition: none;
      }
    }
  }
}

.scroll-container {
  position: absolute;
}

@media screen and (min-width: $tablet) {
  .col-2 {
    font-size: 0;

    .col,
    dl {
      display: inline-block;

      width: 50%;
      margin: 0;

      font-size: 1rem;
    }
  }
}
