/* ==========================================================================
  Circles
   ========================================================================== */

.circles {
  position: absolute;
  z-index: 0;
  top: 35%;
  left: 50%;

  display: none;

  width: 290px;
  height: 190px;
  margin: -95px 0 0 -145px;

  transition: all 750ms ease;

  @media screen and (min-width: $tablet) {
    top: 35%;

    width: 600px;
    height: 400px;
    margin: -200px 0 0 -300px;
  }

  @media screen and (min-width: $laptop) {
    top: 50%;
  }

  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 190px;
    height: 190px;

    content: '';
    transition: all 250ms ease;

    border-radius: 50%;
    background: $gainsboro;
    background-position: center center;
    background-size: cover;

    @media screen and (min-width: $tablet) {
      width: 400px;
      height: 400px;
    }
  }

  &:after {
    left: 100px;

    background: $mustard;

    mix-blend-mode: multiply;

    @media screen and (min-width: $tablet) {
      left: 200px;
    }
  }
}

.porters-active,
.badges-active {
  .circles {
    z-index: -30;
  }
}

.contact-active {
  .circles {
    &::before {
      background: darken($base, 10%);
    }
    &::after {
      background: darken($base, 5%);
    }
  }
}
