// /* ==========================================================================
// Site Name: Ninesenses
// Author: Tom Skarbek-Wazynski (ninesenses.co.uk)
//
// Stylesheet: Footer
// ========================================================================== */

.footer {
  display: none;

  margin-top: 2rem;

  @media screen and (min-width: $tablet) {
    display: block;
  }

  dl {
    font-size: .75rem;
  }
}
