/* ==========================================================================
Site Name: Ninesenses
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Header
========================================================================== */
/* ==========================================================================
  Header
   ========================================================================== */

.header {
  z-index: 9999;

  width: 100%;
  padding: 0 3.75rem 2.25rem 1.25rem;

  line-height: 1;

  align-self: flex-end;

  @media screen and (min-width: $tablet) {
    position: absolute;
    left: 40%;

    width: 60%;
    padding: 0 4.6875rem;

    align-self: center;
  }

  @media screen and (min-width: $sm-desktop) {
    position: absolute;
    left: 50%;

    width: 50%;
  }

  a {
    z-index: 1;

    transition: all 750ms ease;
    text-decoration: none;
    pointer-events: all;

    color: $white;

    &::after {
      display: none;
    }
  }

  h1 {
    margin-top: 0;
    margin-bottom: .25rem;

    color: $white;
  }


  h1,
  span {
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 1.2;

    @media screen and (min-width: 520px) {
      font-size: 1.5rem;
    }
  }

  span {
    display: inline-block;

    color: $secondary !important;
  }
}
