/* ==========================================================================
Site Name: Ninesenses
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Page
========================================================================== */

.page {
  // overflow: hidden;
  height: 100%;

  transition: opacity 500ms;

  .page-background {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;

    width: calc(100% - 50px);
    height: 100%;

    background-color: $background;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: $tablet) {
      width: 40%;
    }

    @media screen and (min-width: $sm-desktop) {
      width: 50%;
    }
  }

  .page-header {
    padding-top: 6rem;

    @media screen and (min-width: $tablet) {
      position: fixed;
      left: 0;

      display: flex;
      flex-direction: column;

      width: 40%;
      height: 100%;
      padding-right: 1.5625rem;
      padding-left: 3.125rem;

      justify-content: center;

      h1,
      span {
        text-align: right;
      }
    }

    @media screen and (min-width: $sm-desktop) {
      width: 50%;
      padding-right: 4.6875rem;
      padding-left: 4.6875rem;
    }
  }

  article {
    overflow: hidden;
    @media screen and (min-width: $tablet) {
      padding: calc(50vh - .5rem) 4.6875rem 20% 1.5625rem;
    }

    @media screen and (min-width: $sm-desktop) {
      padding: calc(50vh - .5rem) 4.6875rem 20%;
    }
  }

  .testimonial {
    margin-top: 2rem;
    padding: 0 0 0 .75rem;

    border-left: 5px solid $comet;

    @media screen and (min-width: $tablet) {
      padding: 1rem;

      background: lighten(rgba($background, .75), 4%);
    }

    h2 {
      margin: 0;
    }

    footer {
      display: flex;

      padding-top: 1rem;

      align-items: center;
    }

    img {
      width: 50px;
      height: 50px;
      margin-right: .75rem;

      border-radius: 50px;
    }

    blockquote {
      @include font-size(16);

      @media screen and (min-width: $tablet) {
        @include font-size(18);

        font-weight: 600;
      }
    }
  }

  .contact {
    padding-top: 2rem;
  }
}
