/* ==========================================================================
Site Name: Ninesenses
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Projects
========================================================================== */
/* ==========================================================================
  Variables
  ========================================================================== */

$gradient-bg: $comet;
$gradient-cutoff: 66.25%;
$background-alt: #E6E6E6;

/* ==========================================================================
  All Sections
   ========================================================================== */

.project {
  background: $base;

  img {
    transition: opacity 1500ms;
  }

  .lazyload {
    transition: opacity 1500ms;

    opacity: 0;
  }
  .lazyloading {
    transition: opacity 1500ms;

    opacity: 1;
    background: url('../img/loading.svg') no-repeat center center;
  }

  .lazyloaded {
    transition: opacity 1500ms;

    opacity: 1;
  }

  .project-section {
    position: relative;

    width: 100%;

    background-position: center center;
    background-size: cover;

    a {
      color: $comet;
    }

    .wrapper {
      max-width: 1440px;
      margin: 0 auto;
    }

    .content {
      position: static;

      color: $background;
    }

    @media screen and (min-width: $tablet) {
      width: 100%;
      padding-top: 0;
    }

    aside,
    header {
      display: flex;

      width: 100%;

      align-items: flex-end;
      flex-grow: 1;

      h2 {
        @include font-size(14);

        text-transform: none;

        font-weight: 400;
      }

      .credit,
      .disciplines,
      .count {
        @include font-size(14);

        display: block;

        margin: 0 0 0 auto;

        text-align: right;
      }
    }

    figure {
      margin: 0;

      img {
        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }

    &.project-content {
      padding: 2.5rem 1.25rem;

      &.project-lead-in {
        padding-bottom: 0;

        .content {
          padding-bottom: 0;

          p:last-child {
            margin-bottom: 0;
          }
        }
      }

      @media screen and (min-width: $tablet) {
        padding: 4.125rem;
      }

      .content {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding: 0;

        text-align: center;
      }
    }


    /* ==========================================================================
  Cover
========================================================================== */

    &.project-cover {
      display: block;

      width: 100%;
      padding: 0;

      .cover-inner {
        width: 100%;
        padding: 4.125rem 1.5rem 4.125rem;
        padding-top: 4.125rem;

        background: $comet;
      }

      .cover-logo {
        width: 100%;

        text-align: center;

        align-self: center;

        img {
          display: block;

          width: 80%;
          max-width: 200px;
          margin: 0 auto;
        }
      }

      .cover-pullup {
        width: 100%;
        padding: 0 2rem;

        background: $gradient-bg; /* Old browsers */
        background: -moz-linear-gradient(top, $gradient-bg 0%, $gradient-bg $gradient-cutoff, $base $gradient-cutoff, $base 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, $gradient-bg 0%, $gradient-bg $gradient-cutoff, $base $gradient-cutoff, $base 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, $gradient-bg 0%, $gradient-bg $gradient-cutoff, $base $gradient-cutoff, $base 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#555b6e+0,555b6e+50,ffffff+50,ffffff+100 */

        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient-bg', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

        img {
          display: block;

          width: 100%;
          max-width: 1200px;
          height: auto;
          margin: 0 auto;
        }
      }
    }

    /* ==========================================================================
  Quote, Intro
========================================================================== */

    &.project-quote,
    &.project-intro {
      p {
        @include font-size(22);

        margin: 0 auto;

        @media screen and (min-width: $tablet) {
          @include font-size(30);
        }

        @media screen and (min-width: $sm-desktop) {
          @include font-size(36);
        }
      }
    }

    /* ==========================================================================
    Images
   ========================================================================== */

    &.project-secondary-image {
      position: relative;

      width: 100%;

      figure {
        overflow: hidden;

        img {
          max-height: 1000px;
        }
        // &:after {
        //   display: block;
        //
        //   padding-bottom: 150%;
        //
        //   content: '';
        //
        //   @media screen and (min-width: $tablet) {
        //     padding-bottom: 100%;
        //   }
        //
        //   @media screen and (min-width: $sm-desktop) {
        //     padding-bottom: 50%;
        //   }
        // }
      }


      &.split {
        display: flex;

        flex-wrap: wrap;

        figure {
          width: 100%;

          @media screen and (min-width: $tablet) {
            width: 50%;
          }
        }
      }
    }


    /* ==========================================================================
  Example
  =========================================================================== */

    &.project-example {
      &.project-logo {
        .project-image {
          img {
            max-width: 250px;
          }
        }
      }

      .project-image {
        width: 100%;

        align-self: center;

        &.fill {
          overflow: hidden;

          img {
            max-width: none;
          }
        }
      }

      img {
        display: block;

        width: 100%;
        // max-width: 1000px;
        height: auto;
        margin: 0 auto;
      }

      .examples {
        padding: 2rem 0 0;
      }

      .split {
        display: flex;

        flex-wrap: wrap;

        .col-2 {
          width: 100%;

          &.contain {
            padding: 2rem 1.25rem;
          }

          &:first-child {
            margin-bottom: 1rem;
          }

          @media screen and (min-width: $tablet) {
            width: 50%;

            &:first-child {
              margin-bottom: 0;
            }
          }
        }
      }

      .grid {
        display: flex;

        flex-wrap: wrap;

        .col-2,
        .project-image {
          padding-bottom: 10px;
        }

        .col-2 {
          @media screen and (min-width: $tablet) {
            width: 50%;

            &:nth-child(odd) {
              padding-right: 5px;
            }

            &:nth-child(even) {
              padding-left: 5px;
            }
          }
        }
      }
    }

    /* ==========================================================================
  Project Brief
   ========================================================================== */

    &.project-brief {
      .content {
        padding: 2rem 0;
      }
    }

    /* ==========================================================================
  Typography
   ========================================================================== */

    &.project-typography {
      h3 {
        @include font-size(14);

        margin-top: 3rem;
      }

      .examples {
        padding: 1rem 0;

        img {
          margin: 0;
        }
      }

      aside {
        @include font-size(14);

        display: block;

        // &:after {
        //   display: block;
        //
        //   content: '—';
        // }
      }
    }

    /* ==========================================================================
  Colors
   ========================================================================== */

    &.project-colors {
      align-content: center;

      .colors {
        display: flex;
        flex-direction: column;

        width: 100%;
        max-height: 100%;
        padding: 2rem 0;

        align-self: center;
      }

      h2 {
        @include font-size(16);

        margin: 0 0 1rem;
      }

      ul {
        display: flex;

        width: 100%;
        max-height: 50%;
        margin: 0 0 2rem;
        padding: 0;

        list-style: none;

        flex-wrap: wrap;
        align-self: center;

        &:last-child {
          margin: 0;
        }

        &.primary {
          li {
            padding: 4rem 0 0;
          }
        }

        &.secondary {
          li {
            padding: 2rem 0 0;
          }
        }

        li {
          @include font-size(12);

          display: flex;

          width: 100%;
          // text-transform: uppercase;

          background: $comet;

          flex-grow: 1;
          flex-shrink: 0;
          flex-basis: 50%;
          align-items: flex-end;

          span {
            display: block;

            width: 100%;
            padding: .5rem 0 .5rem 0;

            background: $base;

            &:after {
              display: block;

              content: '—';
            }
          }

          @media screen and (min-width: $tablet) {
            flex-basis: 25%;
            // align-items: flex-end;
          }

          @media screen and (min-width: $sm-desktop) {
            @include font-size(14);
          }
        }
      }
    }

    &.project-next {
      padding-bottom: 0;

      header {
        position: relative;
        z-index: 1;
      }

      a {
        img {
          transition: all 1s ease-in-out;
        }

        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
