/* ==========================================================================
Site Name: Ninesenses
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Sections
========================================================================== */
/* ==========================================================================
  Sections
   ========================================================================== */

// IE 10 & 11 min height does not work, height must be set but this would
// break mobile so use this to target on ie10+11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .section {
    height: 100%;
  }
}

.section {
  position: relative; // Required fallback
  z-index: 5;
  top: 0;

  display: flex;
  overflow: hidden;

  width: 100%;

  background-position: center center;
  background-size: cover;

  -webkit-backface-visibility: hidden;


  @media screen and (min-width: $tablet) {
    min-height: 100%; // Fallbacks
    min-height: 100vh; // Fallbacks
  }

  &.case-study {
    .content {
      h1 a {
        @include font-size(20);

        color: $base;

        @media screen and (min-width: $tablet) {
          @include font-size(28);
        }

        &:after {
          background-color: $base;
        }
      }

      .more {
        display: inline-block;

        margin-top: 2rem;
      }
    }
  }
}


/* ==========================================================================
  Content
   ========================================================================== */

.content {
  width: 100%;
  max-width: 800px;
  margin: 0;
  padding: 0 3.75rem 1.25rem 1.25rem;

  color: $base;

  font-size: 1rem;

  -webkit-backface-visibility: hidden;
  align-self: flex-end;

  @media screen and (min-width: $tablet) {
    position: absolute;
    left: 40%;

    width: 60%;
    padding: 0 4.6875rem;

    font-size: 1.5rem;

    align-self: center;
  }

  @media screen and (min-width: $sm-desktop) {
    left: 50%;

    width: calc(50%);
  }

  h2 {
    margin-top: 0;

    color: $secondary;
  }

  h1 {
    // margin-top: 0;
    font-size: 1.5rem;
    font-weight: 400;
  }

  p {
    position: relative;

    font-weight: 400;
  }

  a {
    color: $secondary;
  }


  dd {
    color: $secondary;
  }

  .col-2 {
    align-items: flex-start;

    .col {
      vertical-align: top;
    }
  }
}
