/* ==========================================================================
Site Name: Ninesenses
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Sections
========================================================================== */
/* ==========================================================================
  Sections
   ========================================================================== */

// IE 10 & 11 min height does not work, height must be set but this would
// break mobile so use this to target on ie10+11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .section {
    height: 100%;

    // .content {
    //   position: static !important;
    //
    //   max-width: none;
    //   margin: 0 0 0 auto;
    //
    //   * {
    //     max-width: 800px;
    //   }
    // }
  }
}

.section {
  position: relative; // Required fallback
  z-index: 5;
  top: 0;

  display: flex;
  overflow: hidden;

  width: 100%;

  background-position: center center;
  background-size: cover;

  -webkit-backface-visibility: hidden;
  align-items: flex-end;


  @media screen and (min-width: $tablet) {
    min-height: 100%; // Fallbacks
    min-height: 100vh; // Fallbacks

    align-items: center;
  }

  &.case-study {
    .content {
      h1 a {
        @include font-size(20);

        color: $base;

        @media screen and (min-width: $tablet) {
          @include font-size(28);
        }

        &:after {
          background-color: $base;
        }
      }

      .more {
        display: inline-block;

        margin-top: 2rem;
      }
    }
  }
}


/* ==========================================================================
  Content
   ========================================================================== */

.content {
  @include font-size(16);

  width: 100%;
  margin: 0;
  padding: 0 3.75rem 1.25rem 1.25rem;
  // max-width: 800px;

  color: $base;

  -webkit-backface-visibility: hidden;


  @media screen and (min-width: $tablet) {
    @include font-size(24);

    width: 60%;
    margin: 0 0 0 auto;
    padding: 0 4.6875rem;
  }

  @media screen and (min-width: $sm-desktop) {
    width: 50%;
  }

  * {
    max-width: 800px;
  }

  h2 {
    margin-top: 0;

    color: $secondary;
  }

  h1 {
    @include font-size(24);

    font-weight: 400;
  }

  p {
    position: relative;

    font-weight: 400;
  }

  a {
    color: $secondary;
  }


  dd {
    color: $secondary;
  }

  .col-2 {
    align-items: flex-start;

    .col {
      vertical-align: top;
    }
  }
}
