/* ==========================================================================
Site Name: Ninesenses
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Base - Mobile Stylings
========================================================================== */


/* ==========================================================================
  Base
   ========================================================================== */

* {
  box-sizing: border-box;
}

body {
  background: $background;

  &.about {
    background: $base;
  }

  &.faded {
    opacity: 0;

    .scroll-container {
      opacity: 0;
    }
  }

  &.faded-in {
    transition: opacity 500ms ease-in;

    opacity: 1 !important;

    .scroll-container {
      transition: opacity 500ms ease-in;

      opacity: 1 !important;
    }
  }

  &.faded-out {
    transition: opacity 500ms ease-in;

    opacity: 0 !important;

    .scroll-container {
      transition: opacity 500ms ease-in;

      opacity: 0 !important;
    }
  }

  &.slide-left {
    .page-wrap {
      animation: slide-left 500ms forwards;
    }
  }

  &.slide-right {
    .page-wrap {
      animation: slide-right 500ms forwards;
    }
  }

  &.sticky-enabled {
    @media screen and (min-width: $controls-on) {
      .controls {
        display: block;
      }
    }

    @media screen and (min-width: $laptop) {
      .section {
        // position: sticky;
      }
    }
  }
}

.scroll-container {
  position: absolute;

  overflow: auto;
  -webkit-overflow-scrolling: touch;

  width: 100%;
  height: 100%;

  scroll-behavior: smooth;
}


@media screen and (min-width: $tablet) {
  .col-2 {
    font-size: 0;

    .col,
    dl {
      display: inline-block;

      width: 50%;
      margin: 0;

      font-size: 1rem;
    }
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}
