/* ==========================================================================
Site Name: Ninesenses
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Base - Mobile Stylings
========================================================================== */


/* ==========================================================================
  Base
   ========================================================================== */

* {
  box-sizing: border-box;
}

html {
  overflow: hidden;

  width: 100%;
  height: 100%;
}

body {
  background: $background;

  &.about {
    background: $base;
  }

  &.fullscreen {
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 100%;

    -webkit-tap-highlight-color: rgba(0,0,0,0); // Avoid flicker on slides transitions for mobile phones #336

    &.no-css3 {
      .scroll-container {
        position: absolute;

        overflow: scroll;
        -webkit-overflow-scrolling: touch;

        width: 100%;
        height: 100%;

        scroll-behavior: smooth;
      }
    }

    .scroll-container {
      position: relative;

      display: block;
      overflow: visible;
      /* Touch detection for Windows 8 */
      -webkit-overflow-scrolling: touch;

      width: 100%;
      height: 100%;

      scroll-behavior: smooth;

      &.notransition {
        transition: none;
      }
    }
  }
}

.scroll-container {
  position: absolute;
}

@media screen and (min-width: $tablet) {
  .col-2 {
    font-size: 0;

    .col,
    dl {
      display: inline-block;

      width: 50%;
      margin: 0;

      font-size: 1rem;
    }
  }
}
