/* ==========================================================================
Site Name: SITENAME
Author: Tom Skarbek-Wazynski (skarbek-wazynski.co.uk)

Stylesheet: Buttons
========================================================================== */

input[type='submit'],
.btn {
  display: inline-block;

  margin-bottom: 1rem;
  padding: 1.2em 2.4em;

  transition: background 300ms linear, color 300ms linear;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: $btn-color;
  border: 0 !important;
  border-radius: 30px;
  outline: none;
  background: $background-btn;

  font-size: .625em;
  font-weight: 700;

  &.mt {
    margin-top: 2rem;
  }

  &:active,
  &:focus,
  &:hover {
    color: $white;
    background: $base;
  }
}

.btn-group {
  margin-top: 2rem;

  text-align: center;
  vertical-align: top;

  .btn {
    display: inline-block;

    margin: 0 .5rem .5rem;

    vertical-align: top;
  }

  form {
    display: inline-block;
  }
}

input[type='submit'].btn-alt,
.btn-alt {
  color: $btn-alt-color;
  background: $background-btn-alt;

  &:active,
  &:focus,
  &:hover {
    color: $white;
    background: $base;
  }
}
