/* ==========================================================================
Site Name: SITENAME
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Controls
========================================================================== */
/* ==========================================================================
  Controls
   ========================================================================== */

.controls {
  display: none;
  @media screen and (min-width: $tablet) {
    position: fixed;
    z-index: 9999;
    right: 50px;
    // bottom: 220px;
    bottom: 180px;

    display: block;

    width: 16px;

    text-align: right;

    ul {
      width: 16px;

      list-style: none;

      li {
        display: block;

        width: 10px;
        height: 10px;
        margin: 0 auto 10px;

        cursor: pointer;

        border: 1px solid $secondary;
        border-radius: 50%;
        background: none;;

        &.active {
          background: $secondary;
        }

        &:hover {
          opacity: .5;
          background: $secondary;
        }
      }
    }

    button {
      display: block;

      width: 16px;
      height: 28px;
      margin: 0 0 10px;
      padding: 0;

      transition: opacity 500ms linear;
      text-align: center;

      opacity: 1;
      border: 0;
      outline: 0;
      background: none;

      &.disabled {
        opacity: 0;
      }

      svg {
        display: inline-block;

        width: 12px;
        margin: 0 auto;

        path {
          fill: $secondary;
        }
      }
    }
  }

  @media screen and (min-width: $laptop) {
    right: 42px;
  }
}
