/* ==========================================================================
Site Name: SITENAME
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Footer
========================================================================== */

.footer {
  display: table-row;

  width: 100%;
  height: 170px;
  // // .lists {
  // padding: 1.25rem 1.25rem 1.25rem;

  background: $mustard;
  // }

  .content {
    padding: 1.25rem 1.25rem 1.25rem;
  }

  span {
    display: block;
  }

  dl {
    vertical-align: top;

    dt {
      color: $base;
    }
  }

  @media screen and (min-width: $tablet) {
    height: 170px;

    .content {
      padding: 5rem 3.125rem 3.125rem;
    }

    .wrap {
      font-size: 0;
    }
  }

  @media screen and (min-width: $laptop) {
    span {
      display: inline;
    }
  }

  @media screen and (min-width: $lg-desktop) {
    // .lists {
    //   max-width: 60%;
    // }
  }
}
