/* ==========================================================================
Site Name: SITENAME
Author: Tom Skarbek-Wazynski (skarbek-wazynski.co.uk)

Stylesheet: Forms
========================================================================== */

input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'],
select,
textarea {
  //
}

// scss-lint:disable VendorPrefix
::-webkit-input-placeholder {
  color: $placeholder;
}

// scss-lint:disable VendorPrefix
::-moz-placeholder {
  color: $placeholder;
}

:-ms-input-placeholder {
  color: $placeholder;
}

/* ==========================================================================
  Submit
   ========================================================================== */

input[type='submit'] {
  //
}
