/* ==========================================================================
Site Name: Ninesenses
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Header
========================================================================== */
/* ==========================================================================
  Header
   ========================================================================== */

.sticky-enabled {
  .header {
    @media screen and (min-width: $laptop) {
      position: fixed;

      height: auto;

      pointer-events: none;
    }
  }
}

.header {
  position: relative;
  z-index: 9999;
  top: 0;
  left: 0;

  width: 100%;
  height: 86px;
  padding: 1.25rem;

  transition: color .5s ease;
  text-transform: uppercase;

  line-height: 1;

  @media screen and (min-width: $sm-desktop) {
    position: fixed;

    height: auto;

    pointer-events: none;
  }



  .logo {
    display: none;

    @media screen and (min-width: $tablet) {
      position: absolute;
      z-index: -1;
      top: -10px;
      left: -75px;

      display: block;

      width: auto;
      height: 50px;

      transition: all 750ms ease-in-out;
    }
  }

  a {
    position: relative;
    z-index: 1;
    left: 0;

    display: inline-block;

    transition: all 750ms ease-in-out;
    text-decoration: none;
    pointer-events: all;

    color: $base;

    &::before {
      display: none;
    }

    @media screen and (min-width: $tablet) {
      left: 60px;
    }

    &.hide-left {
      left: -500px;
    }

    &:hover {
      padding-left: 10px;

      .logo {
        padding-left: 10px;
      }
    }
  }


  h1,
  span {
    margin: 0;

    font-size: .875rem;
    font-weight: 600;
  }

  span {
    color: $secondary;

    font-weight: 400;
  }

  &.light a {
    color: $white;
  }

  &.dark a {
    color: $base;
  }

  /* ==========================================================================
    Tablet
   ========================================================================== */

  @media screen and (min-width: $tablet) {
    padding: 3.125rem;
  }
}
