/* ==========================================================================
Site Name: Ninesenses
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Header
========================================================================== */
/* ==========================================================================
  Header
   ========================================================================== */

// .fullscreen {
//   .header {
//     position: fixed;
//
//     height: auto;
//
//     pointer-events: none;
//
//     background: none;
//   }
// }

// .page {
//   .header {
//     text-align: center;
//
//     a {
//       padding-left: 0;
//
//       &::before {
//         position: relative;
//         top: 0;
//
//         margin: 0 auto 10px;
//       }
//
//       &:hover {
//         transform: translate(0, 20px);
//       }
//     }
//   }
// }

.header {
  z-index: 9999;

  width: 50%;
  margin: 0 0 0 auto;
  padding: 0 0 0 150px;

  line-height: 1;

  align-self: center;

  a {
    z-index: 1;

    transition: all 750ms ease;
    text-decoration: none;
    pointer-events: all;

    color: $white;

    &::after {
      display: none;
    }
  }

  h1 {
    margin-bottom: .25rem;

    transition: color 750ms ease;

    color: $white;
  }


  h1,
  span {
    font-size: 24px;
    font-weight: 300;
  }

  span {
    display: inline-block;

    max-width: 100px;

    color: $secondary !important;

    @media screen and (min-width: 380px) {
      max-width: 200px;
    }

    @media screen and (min-width: 540px) {
      max-width: none;
    }
  }
}
