/* ==========================================================================
  Menu
   ========================================================================== */
.home {
  position: fixed;
  z-index: 9999;
  top: 25px;
  right: 20px;
  left: auto;

  display: block;

  width: 20px;
  height: 30px;

  &:hover {
    &:before {
      background: $gainsboro;
    }

    &:after {
      background: $mustard;
    }
  }

  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;

    display: block;
    visibility: visible;

    width: 20px;
    height: 20px;

    content: '';
    transition: all 300ms $easing;
    transition: all 250ms ease;
    transform: none;
    // opacity: .5;

    border-radius: 50%;
    background: #898E91;
    background-position: center center;
    background-size: cover;
  }

  &:after {
    top: 10px;

    background: #A9ACAD;

    mix-blend-mode: multiply;
  }
}

.menu {
  position: fixed;
  z-index: 9998;
  top: 50%;
  right: 25px;
  left: auto;

  width: 100%;
  margin-top: -50%;

  transform: rotateX(-90deg);
  transform: rotate(-90deg);
  // transform: translate(50%,-50%) rotate(-90deg) translateY(-50%);
  transform-origin: bottom right;
  text-align: center;

  a {
    display: inline-block;

    margin: 0 1rem;

    letter-spacing: .01rem;
    text-transform: uppercase;

    color: $dim-gray;

    font-size: .825rem;
    font-weight: 300;

    &.active {
      color: lighten($dim-gray, 30%);
    }

    &:hover {
      color: lighten($dim-gray, 15%);
    }

    &:after {
      height: 2px;

      background: lighten($dim-gray, 15%);
    }
  }
}
