/* ==========================================================================
Site Name: Ninesenses
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Sections
========================================================================== */
/* ==========================================================================
  Sections
   ========================================================================== */

// IE 10 & 11 min height does not work, height must be set but this would
// break mobile so use this to target on ie10+11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .section {
    height: 100%;
  }
}

.section {
  position: relative; // Required fallback
  top: 0;

  display: flex;
  overflow: hidden;

  width: 100%;

  @media screen and (min-width: $tablet) {
    min-height: 100%; // Fallbacks
    min-height: 100vh; // Fallbacks
  }
  //
  // &.intro {
  //   z-index: 10;
  // }
  //
  // &.about {
  //   z-index: 20;
  // }
  //
  // &.services {
  //   z-index: 30;
  // }
  //
  // &.contact {
  //   z-index: 40;
  //
  //   min-height: 100vh;
  // }
}


/* ==========================================================================
  Content
   ========================================================================== */

.content {
  position: absolute;
  left: 50%;

  width: 50%;
  max-width: 900px;
  margin: 0;
  padding: 0 3.125rem 0 150px;

  color: $white;

  font-size: 1.5rem;

  align-self: center;

  h2 {
    color: $white;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  p {
    position: relative;

    color: $white;

    font-weight: 400;
  }

  a {
    color: $mustard;
  }

  dt {
    color: $secondary;
  }
}
