/* ==========================================================================
Site Name: Ninesenses
Author: Tom Skarbek-Wazynski (ninesenses.co.uk)

Stylesheet: Sections
========================================================================== */
/* ==========================================================================
  Sections
   ========================================================================== */

// IE 10 & 11 min height does not work, height must be set but this would
// break mobile so use this to target on ie10+11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .section {
    height: 100%;
  }
}

.section {
  position: relative; // Required fallback
  top: 0;

  display: flex;

  width: 100%;
  min-height: 100%; // Fallbacks
  min-height: 100vh; // Fallbacks

  align-content: flex-end;


  &.intro {
    z-index: 10;

    background: $platinum;
  }

  &.about {
    z-index: 20;

    background: $paynes-grey;
  }

  &.services {
    z-index: 30;

    background: $gainsboro;
  }

  &.contact {
    z-index: 40;

    min-height: 100vh;

    background: $platinum;
  }


  &.dark {
    h2 {
      color: $white;
    }

    .highlight {
      color: $white;
    }
  }

  &.light {
    h2 {
      color: $secondary;
    }

    .highlight {
      color: $base;
    }
  }
}


/* ==========================================================================
  Content
   ========================================================================== */

.content {
  width: 100%;
  padding: 4.125rem 1.25rem 1.25rem;

  font-size: 1.25rem;

  align-self: flex-end;

  @media screen and (min-width: $tablet) {
    padding: 5rem 3.125rem 3.125rem;

    font-size: 1.875rem;
  }

  @media screen and (min-width: $lg-desktop) {
    padding: 5rem 3.125rem 3.125rem;

    font-size: 2.5rem;
  }

  @media screen and (min-width: $xl-desktop) {
    padding: 5rem 4.6875rem 3.125rem;

    font-size: 2.75rem;
  }

  @media screen and (min-width: $xxl-desktop) {
    font-size: 3rem;

    h2 {
      font-size: 1.125rem;
    }
  }

  &.push-up {
    // @media screen and (min-height: 1200px) and (max-width: $lg-desktop) {
    //   padding-bottom: 100px;
    // }
    //
    // @media screen and (min-width: $lg-desktop) {
    //   padding-bottom: 200px;
    // }
    //
    // @media screen and (min-width: $xl-desktop) {
    //   padding-bottom: 175px;
    // }
  }



  .wrap {
    position: relative;
    z-index: 500;
    left: 0;

    transition: all 1s ease-out;

    overflow-wrap: normal;

    @media screen and (min-width: $tablet) {
      max-width: 80%;
    }

    @media screen and (min-width: $laptop) {
      max-width: 70%;
    }

    @media screen and (min-width: $sm-desktop) {
      max-width: 50%;
    }

    @media screen and (min-width: $xl-desktop) {
      max-width: 60%;
    }

    @media screen and (min-width: $xxl-desktop) {
      max-width: 60%;
    }
  }

  p {
    position: relative;

    color: $secondary;

    font-weight: 400;
  }
}
