<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}
  <body class="default">
    {% include controls.html %}

    {% include menu.html %}

    <ul class="bgs">
      <li class="bg active"></li>
      <li class="bg"></li>
      <li class="bg"></li>
      <li class="bg"></li>
      <li class="bg"></li>
      <li class="bg"></li>
      <li class="bg"></li>
      <li class="bg"></li>
    </ul>


    <div id="fullpage" class="scroll-container page-wrap">

      <section id="intro" class="section intro light active">

        <header class="header dark">
          <a class="" href="/">
            <h1>{{site.title}}</h1>
            <span>{{site.subtitle}}</span>
          </a>
        </header>
      </section>

      <div id="about" class="section about">
       	<section class="content">
        	 <h2>{{page.about_title}}</h2>

         	{{page.about_text}}

         <p>
           <a href="{{page.about_url}}">{{page.about_url_text}}</a>
         </p>
       	</section>
     	</div>

     <div id="services" class="section services">
       <section class="content">
         <h2>{{page.services_title}}</h2>

         {{page.services_text}}

         <p>
           <a href="{{page.services_url}}">{{page.services_url_text}}</a>
         </p>
       </section>
     </div>

      <div id="porters" class="section porters">
        <section class="content">
          <h2>Case Study</h2>

          <h1>Porters Trading Limited</h1>
          <p>
            Flame roasted coffee delivered directly to your door.
          </p>

          <dl>
            <dt>Disciplines</dt>
            <dd>Branding, Strategy, Design, Development, Marketing</dd>
          </dl>

          <a href="/case-studies/porters">Find out more &rarr;</a>
        </section>
      </div>

      <div id="badges" class="section badges">
        <section class="content">
          <h2>Case Study</h2>

          <h1>Badge Backpack</h1>
          <p>
            A gamified campus for all students and staff
          </p>

          <dl>
            <dt>Disciplines</dt>
            <dd>Branding, Design, Development</dd>
          </dl>

          <a href="/case-studies/badge-backpack">Find out more &rarr;</a>
        </section>
      </div>

      <div id="majik" class="section majik">
        <section class="content">
          <h2>Case Study</h2>

          <h1>Majik House</h1>
          <p>
            Design smart technology systems for your home that are simple, useful and beautiful
          </p>

          <dl>
            <dt>Disciplines</dt>
            <dd>Development</dd>
          </dl>

          <a href="/case-studies/majik-house">Find out more &rarr;</a>
        </section>
      </div>

      <div id="cgts" class="section cgts">
        <section class="content">
          <h2>Case Study</h2>

          <h1>Can get the staff</h1>
          <p>
            Ensuring supply teachers and schools can both be better off.
          </p>

          <dl>
            <dt>Disciplines</dt>
            <dd>Development</dd>
          </dl>

          <a href="/case-studies/can-get-the-staff">Find out more &rarr;</a>
        </section>
      </div>

      <div id="contact" class="section contact">
        <section class="content">
            <h2>{{page.contact_title}}</h2>

            {{page.contact_text}}

            <div class="col-2">
              <dl>
                <dt>Mail</dt>
                <dd><a href="mailto:{{site.email}}">{{site.obfuscated_email}}</a></dd>
                <dt>Twitter</dt>
                <dd><a href="https://twitter.com/{{site.twitter_username}}">@{{site.twitter_username}}</a></dd>
              </dl>
              <dl>
                <dt>Telephone</dt>
                <dd><a href="tel:{{site.tel}}">{{site.formated_tel}}</a></dd>
                <dt>Instagram</dt>
                <dd><a href="https://www.instagram.com/{{site.instagram_username}}/">{{site.instagram_username}}</a></dd>
              </dl>
              <footer class="footer col-2">
                <dl>
                  <dt>Copyright</dt>
                  <dd>{{site.copyright}}</dd>
                </dl>
                <dl>
                  <dt>Colphon</dt>
                  <dd>{{site.colphon}}</dd>
                </dl>
              </footer>
          </div>
        </section>

      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
