<!doctype html>
<html class="no-js" lang="en">
	{% include head.html %}
	<body class="{{page.title | downcase}} {{page.layout}}">
		<script>document.body.classList.add('faded');</script>

		{% include menu.html %}

		<div class="page-background" {% if page.image %} style="background-image: url(/assets/img/{{ page.image }})" {% endif %}></div>
		<header class="page-header header">
      <h1>{{ page.title }}</h1>
      <span>{{ page.subtitle }}</span>
    </header>

		<article class="content">
			{{ content }}


      {% if page.contact_text %}
				<div class="contact">
          <h2>{{ page.contact_title }}</h2>
          <p>
          	{{ page.contact_text }}
          </p>
          <div class="col-2">
						<dl>
							<dt>Mail</dt>
							<dd><a href="mailto:{{site.email}}">{{site.obfuscated_email}}</a></dd>
							<dt>Twitter</dt>
							<dd><a href="https://twitter.com/{{site.twitter_username}}">@{{site.twitter_username}}</a></dd>
						</dl>
						<dl>
							<dt>Telephone</dt>
							<dd><a href="tel:{{site.tel}}">{{site.formated_tel}}</a></dd>
							<dt>Instagram</dt>
							<dd><a href="https://www.instagram.com/{{site.instagram_username}}/">{{site.instagram_username}}</a></dd>
						</dl>
          </div>
        </div>
      {% endif %}
		</article>
  	{% include footer.html %}
  </body>
</html>
