<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}
  <body class="{{page.title | downcase}} {{page.layout}}">
    {% include fade.html %}

    {% include page-menu.html %}

    <div class="page-background" {% if page.image %} style="background-image: url(/assets/img/{{page.image}})" {% endif %}></div>

    <header class="page-header header">
      <h1>{{ page.title }}</h1>
      <span>{{ page.subtitle }}</span>
    </header>

    <article id="page-wrap" class="content">
      {{ content }}


      {% if page.contact_text %}
        <div class="testimonial">
          <blockquote>
            {{ page.testimonial }}
            <footer>
              <img src="/assets/img/{{page.credit_image}}" alt="">
              <span>{{page.credit}} - <a href="{{page.credit_link}}">{{page.credit_company}}</a>
            </footer>
          </blockquote>
        </div>
      {% endif %}


      {% if page.contact_text %}
        <div id="contact" class="contact">
		      <h2>{{ page.contact_title }}</h2>

          {{ page.contact_text }}

          <div class="col-2">
            <dl>
              <dt>Mail</dt>
              <dd><a href="mailto:{{site.email}}">{{site.obfuscated_email}}</a></dd>
              <dt>Twitter</dt>
              <dd><a href="https://twitter.com/{{site.twitter_username}}">@{{site.twitter_username}}</a></dd>
            </dl>
            <dl>
              <dt>Telephone</dt>
              <dd><a href="tel:{{site.tel}}">{{site.formated_tel}}</a></dd>
              <dt>Instagram</dt>
              <dd><a href="https://www.instagram.com/{{site.instagram_username}}/">{{site.instagram_username}}</a></dd>
            </dl>
          </div>
        </div>
      {% endif %}
    </article>

    {% include footer.html %}
  </body>
</html>
